@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.line_chart{
  max-width: 85rem;
  min-width: 85rem;
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 3rem;
  font-size: large;
  font-family:Arial, Helvetica, sans-serif;
}

.formPage{
  margin-left: 3rem;
  margin-top: 2rem;
}

.input-field{
  background-color: transparent;
}

.inputName{
  background-color: rgb(55 65 81);
}

.nft{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  /* margin-right: 60px;
  margin-left: 60px; */
  margin-bottom: 2rem;
  max-width: 21rem;
  min-width: 21rem;
}

.stats{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  /* margin-right: 60px;
  margin-left: 60px; */
  max-height: 27rem;
  max-width: 34rem;
  margin-bottom: 3rem;
}
